{{!< default}}
<div class="container">
	<p><img src="https://media.allure.com/photos/5bbe39465f58e72d028297b2/16:9/w_2560%2Cc_limit/science-of-smiling-woman-lede.jpg" width="100%"></p>
	<h1>MIGA - Nós por nós</h1>
<p>Em 2016, tramitaram na Justiça do País mais de um milhão de processos referentes à violência doméstica contra a mulher, o que corresponde, em média, a 1 processo para cada 100 mulheres brasileiras. Fonte: Conselho Nacional de Justiça (2017).</p>

<p>Das 176 respostas colhidas do nosso formulário divulgado (GoogleForms), 23,3% das mulheres declararam já ter sofrido algum tipo de violência doméstica. Dessas:</p>
<ul>
<li>65,9% declararam ter sofrido violência física</li>
<li>90,2% declararam ter sofrido violência psicológica</li>
<li>19,5% declararam ter sofrido violência financeira</li>
</ul>
<p>Uma das dificuldades das mulheres, durante o processo de violência doméstica, na condição de vítimas, é a FALTA DE APOIO.</p>

<p>Das 41 mulheres que responderam ao nosso formulário, afirmando que haviam sofrido violência, 68,3% delas declararam que a falta de apoio familiar ou de amigas foi uma barreira que as levou a NÃO REGISTRAR A VIOLÊNCIA.</p>

<p>A ‘MIGA’ é um projeto que visa unir mulheres precisam de apoio com mulheres dispostas a ampará-las.</p>

<p>As mulheres que precisam de um lugar para ficar, ou de apoio emocional, de uma conversa, de serviços profissionais voltados às suas necessidades, podem encontrar mulheres que tem vontade de prestar ajuda, colocando seu tempo, serviço ou lar à disposição.</p>

<p>Consultamos mulheres que sofreram violência doméstica, questionando se usariam uma plataforma para se conectar com mulheres dispostas a prestar apoio, 8 declararam que sim, usariam. Ainda, 9 mulheres declararam que ajudariam e apoiariam mulheres desconhecidas em situação de violência doméstica.</p>
		
	</div>
</div>
